﻿
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="padding: 20px;">
    <h2>Đăng ký tài khoản mới</h2>
    <hr />

    @using (Html.BeginForm("DangKy", "TaiKhoan", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2">Họ và Tên</label>
                <div class="col-md-10">
                    <input type="text" name="HoTen" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Tên đăng nhập</label>
                <div class="col-md-10">
                    <input type="text" name="TenDangNhap" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-10">
                    <input type="email" name="Email" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Mật khẩu</label>
                <div class="col-md-10">
                    <input type="password" name="MatKhau" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Xác nhận mật khẩu</label>
                <div class="col-md-10">
                    <input type="password" name="XacNhanMatKhau" class="form-control" required />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Tạo tài khoản" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }
</div>